/* html */
 body{

    background: linear-gradient(-45deg, #ee3224, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/* body{
margin:30px;
}
.box{
	background:#ffff;
        width: 100%;
        border: 1px solid #202;
        padding: 1px;
        margin-bottom: 8px;
      }
	.box h3{
        background:#CD283A;
        padding: 8px;
        margin:1px;
        cursor: pointer;
        color:#ffff;
	li h5{
	background:#3ACDBD;
	padding: 5px;
        margin:1px;
        cursor: pointer;
        color:#ffff;
		}
      }
	.condiv{
	background:#ffff;
        width: 100%;
        border: 1px solid #202;
        padding: 1px;
        margin-bottom: 2px;
		}
	.condiv h3{
        background:#CD283A;
        padding: 8px;
        margin:1px;
        cursor: pointer;
        color:#ffff;
      }
	.myDiv {
        margin-top: 4px;
        background-color: #154360;
        text-align: center;
      }
	.middiv{
		 margin-top: 3px;
		}

	.hname{
	color: #ffff;
      }
             p{
	color: #EDDC10;
       }
	.imgv{
	width: 150px;
	height: 150px;
	margin: auto;
	padding: auto;
	display: block;
	}
	.navbar {
        background:#6ab446;
       }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      }
	li {
      display: inline;
      text-align: center;
     }
	li a{
	margin: auto;
	padding: auto;
	display: block;
	text-align: center;
		}
     li img{
	width: 150px;
	height: 150px;
	margin: auto;
	padding: auto;
	display: block;
	}
     body{
	 background:#377E80;
		} */
